**/ref/
Game/
WoW/
Python/slasherBot/.env
Python/slasherBot/data/
Python/slasherBot/scratch.py
*.code-workspace
CPP/main.cpp
Python/OpenCV/assets/ball.png
Python/OpenCV/assets/chessboard.png
Python/OpenCV/assets/shoe.png
Python/OpenCV/assets/soccer_practice.jpg
Python/OpenCV/assets/Texas.jpg
CPP/main.exe
*.pyc
Python/OpenAI/.env
Python/OpenAI/main.py
Python/OpenAI/chat.py
Tensorflow/
Python/Pytorch/data/FashionMNIST/raw/train-labels-idx1-ubyte
Python/Pytorch/data/FashionMNIST/raw/train-images-idx3-ubyte
Python/Pytorch/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
Python/Pytorch/data/FashionMNIST/raw/t10k-images-idx3-ubyte
Python/Pytorch/data/FashionMNIST/processed/training.pt
Python/Pytorch/data/FashionMNIST/processed/test.pt
Python/Pytorch/model.pth
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Coding Adventure/v16/.suo
.vs/Coding Adventure/v16/Browse.VC.db
Personal Website/
Python/nasaAPI/neow.py
*.env
Python/.vscode/settings.json
Python/users.db
Python/casinovaBot/users.db
Python/riotAPI/riotgames.pem
*.db
