**/ref/
Game/
WoW/
Python/slasherBot/
Python/slasherBot/.env
Python/slasherBot/data/
*.code-workspace
CPP/main.cpp
Python/OpenCV/assets/ball.png
Python/OpenCV/assets/chessboard.png
Python/OpenCV/assets/shoe.png
Python/OpenCV/assets/soccer_practice.jpg
Python/OpenCV/assets/Texas.jpg
CPP/main.exe

