**/ref/
Game/
WoW/
Python/slasherBot/.env
Python/slasherBot/data/
Python/slasherBot/scratch.py
*.code-workspace
CPP/
Python/OpenCV/assets/
*.pyc
Python/OpenAI/.env
Python/OpenAI/main.py
Python/OpenAI/chat.py
Tensorflow/
Python/Pytorch/data/
Python/Pytorch/model.pth
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Coding Adventure/v16/.suo
.vs/Coding Adventure/v16/Browse.VC.db
Personal Website/
Python/nasaAPI/neow.py
*.env
Python/.vscode/settings.json
Python/users.db
Python/casinovaBot/users.db
Python/riotAPI/riotgames.pem
*.db
Python/Result
Python/FlowPy
Python/OpenAI/.vscode/settings.json
Python/slasherBot/data_prepared.jsonl
Python/slasherBot/casiBot.py
C#/
Python/slasherBot/wip/scratch.py
Python/slasherBot/wip/casiBot.py
Backups/
Python/Pytorch/.vscode/settings.json
Python/steam/steam.py
Python/scratch/scratch.js
*.log
**/.vscode
Python/slasherBot/appCommands.py
Python/requests/req.py
Python/oggPlayer/ogg.py
Python/slasherBot/modules/wip/scratch.py
Python/riotAPI/data/
Python/scratch/
Python/Pytorch/SpeechCommands/
*.gz
Python/Pytorch/
/Pytorch/
Python/gps/data/ping.txt
Python/Selenium/webdrivers/chromedriver.exe
Python/scratch/scratch.py
